@import url("reset.css");

@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: hsl(25, 97%, 53%);
  --color-natural-100: hsl(0, 0%, 100%);
  --color-natural-300: hsl(217, 12%, 63%);
  --color-natural-500: hsl(213, 19%, 18%);
  --color-natural-700: hsl(216, 12%, 8%);

  --ff-primary: "Overpass", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-400: 1.5rem;
  --fs-600: 1.6rem;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  background-color: var(--color-natural-700);
  padding: 2.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: block;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-natural-700);
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  padding: 1.2rem 3.2rem;
}

.rating {
  max-width: 50rem;
  background-color: var(--color-natural-500);
  color: var(--color-natural-100);
  padding: 2.4rem;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.rating__icon-container {
  padding: 1.6rem;
  background-color: var(--color-natural-500);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.rating__text {
  color: var(--color-natural-300);
}

.rating__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rating__form-radios {
  display: flex;
  justify-content: space-between;
}

input[type="radio"] {
  appearance: none;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

input[type="radio"]:checked {
  background-color: var(--color-natural-100);
}

input[type="radio"]:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

.rating__form-radios input:checked + span,
.rating__form-radios input:hover + span {
  color: var(--color-natural-500);
}

.rating__form-radios label {
  position: relative;
}

.rating__form-radios label span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-weight: var(--fw-bold);
  color: var(--color-natural-300);
}
