@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: hsl(216, 12%, 8%);
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul[class] {
  list-style: none;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
}

h1 {
  font-size: 2.6rem;
  line-height: 1;
}

p {
  color: hsl(217, 12%, 63%);
}

.btn {
  width: 100%;
  line-height: 1;
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 1.6rem 3.2rem 1.4rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn:active, .btn:hover, .btn:focus {
  background-color: hsl(0, 0%, 100%);
}
.btn:hover, .btn:focus {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.rating {
  max-width: 36rem;
  min-height: 37rem;
  background-color: hsl(213, 19%, 18%);
  color: hsl(0, 0%, 100%);
  padding: 2.4rem 2rem 3.2rem;
  border-radius: 19px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
.rating--completed {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.rating__icon-container {
  padding: 1.6rem;
  background-color: hsl(213, 14%, 23%);
  border-radius: 50%;
  margin-bottom: 1rem;
}
.rating__icon {
  width: 13px;
  height: 13px;
}
.rating__selected-rating-text {
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 14%, 23%);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.rating__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.rating__form-radios {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating__form-radios input:checked + span, .rating__form-radios input:hover + span {
  color: hsl(213, 19%, 18%);
}
.rating__form-radios label {
  position: relative;
  height: 4.5rem;
}
.rating__form-radios label span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-weight: 700;
  color: hsl(217, 12%, 63%);
  overflow: hidden;
}
.rating__form-error {
  color: hsl(0, 60%, 60%);
}
.rating__form-radio {
  appearance: none;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: hsl(213, 14%, 23%);
  transform: translateY(-0.075em);
  cursor: pointer;
  transition: all 0.3s;
}
.rating__form-radio:hover, .rating__form-radio:focus {
  background-color: hsl(25, 97%, 53%);
}
.rating__form-radio:checked {
  background-color: hsl(0, 0%, 100%);
  animation: scaleUpDown 0.25s ease-in;
}

/*# sourceMappingURL=style.css.map */
