*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media screen and (min-width: 48em) {
        font-size: 75%;
    }
}

body {
    min-height: 100vh;
    line-height: 1.5;
    background-color: $color-natural-700;
    padding: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul[class] {
    list-style: none;
}
