$color-primary: hsl(25, 97%, 53%);
$color-natural-100: hsl(0, 0%, 100%);
$color-natural-300: hsl(217, 12%, 63%);
$color-natural-400: hsl(213, 14%, 23%);
$color-natural-500: hsl(213, 19%, 18%);
$color-natural-700: hsl(216, 12%, 8%);
$color-error: hsl(0, 60%, 60%);

$ff-primary: 'Overpass', sans-serif;
$fw-regular: 400;
$fw-bold: 700;
$fs-400: 1.4rem;
$fs-600: 1.6rem;
$fs-800: 2.6rem;
